#grid-area-2446 {
  grid-area: 2 / 4 / 4 / 6;
}

#grid-area-8101012 {
  grid-area: 8 / 10 / 10 / 12;
}

#grid-area-3456 {
  grid-area: 3 / 4 / 5 / 6;
}

#grid-area-111133 {
  grid-area: 11 / 1 / 13 / 3;
}

#grid-area-4567 {
  grid-area: 4 / 5 / 6 / 7;
}

#grid-area-310512 {
  grid-area: 3 / 10 / 5 / 12;
}

#grid-area-4668 {
  grid-area: 4 / 6 / 6 / 8;
}

#grid-area-4769 {
  grid-area: 4 / 7 / 6 / 9;
}

#grid-area-78910 {
  grid-area: 7 / 8 / 9 / 10;
}

#grid-area-115137 {
  grid-area: 11 / 5 / 13 / 7;
}

#grid-area-116138 {
  grid-area: 11 / 6 / 13 / 8;
}

#grid-area-117139 {
  grid-area: 11 / 7 / 13 / 9;
}

#grid-area-95117 {
  grid-area: 9 / 5 / 11 / 7;
}

#grid-area-711913 {
  grid-area: 7 / 11 / 9 / 13;
}

#grid-area-9101012 {
  grid-area: 9 / 10 / 10 / 12;
}
