.virus-popup {
  position: relative;
  z-index: 1;
}

.virus-popup h3 {
  position: absolute;
  top: 3px;
  left: 60px;
  color: black;
  font-size: 25px;
}

#ok-button {
  position: absolute;
  top: 105px;
  left: 75px;
  color: black;
  background-color: transparent;
  border: none;
}

#ok-button:hover {
  cursor: pointer;
}

#ok-button img {
  width: 150px;
  height: auto;
}
